.article-tweet {
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 2em;
  opacity: 0.5;
  padding-bottom: 25px;
  /*height: 160px;*/
}

.article-tweet:hover {
  opacity: 1;
  border: 1px solid black;
}

.article-tweet-header {
  background-color: #eee;
  border-radius: 5px 5px 0px 0px;
  padding-top: 10px;
  margin: 0px;
}

.article-tweet header {
  height: 50px;
}

.profile-pic {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.article-header-text {
  padding: 0px;
  line-height: 45px;
  margin: 0;
  float: left;
}

.user-handle {
  float: right;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.article-content-text {
  margin-left: 15px;
}

.article-tweet footer {
  height: 15px;
  border-top: 1px solid grey;
}

.article-tweet-footer {
  padding-left: 15px;
  padding-top: 12px;
  font-size: .7em;
  float: left;
  margin: 0;
}

.footer-icons {
  opacity: 0;
  color: #00a087;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 0px;

}

.article-tweet:hover .footer-icons {
  opacity: 1;
}